<html>
    <head>
        <title>$i18n.getText('ci.partials.pluginconfiguration.vm.title')</title>
        <meta name="decorator" content="atl.general">
    </head>
    <body class="page-type-admin">
        <div class="content-container">
            <div class="content-body">

                <div role="dialog" id="credential-crud-dialog" class="aui-layer aui-dialog2 aui-dialog2-xlarge"  aria-hidden='true' data-aui-modal="true">
                    <!-- Dialog header -->
                    <header class="aui-dialog2-header">
                        <!-- The dialog's title -->
                        <h2 class="aui-dialog2-header-main">$i18n.getText('ci.partials.pluginconfiguration.vm.credential.title')</h2>
                    </header>
                    <!-- Main dialog content -->
                    <div class="aui-dialog2-content">
                        <div class="aui-group">
                            <div class="aui-item">
                                <table class="aui" id="credentialsTable">
                                    <thead>
                                        <tr>
                                            <th id="header-ci-user">
                                                $i18n.getText('ci.partials.pluginconfiguration.vm.credential.header.user')
                                            </th>
                                            <th id="header-ci-access-key-id">
                                                $i18n.getText('ci.partials.pluginconfiguration.vm.credential.header.accessKey')
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div id="credentialZeroState" class="zero-state">
                                    $i18n.getText('ci.partials.pluginconfiguration.vm.credential.zero.state')
                                </div>
                            </div>
                            <div class="aui-item">
                                <h2>
                                    <div id="configformTitle"></div>
                                </h2>
                                <div id="aui-message-bar"></div>
                                <form id="configForm" method="post" class="aui">
                                    <input id="idCredential" hidden="true" class="text long-field" type="text" name="idCredential"
                                    >
                                    <div class="field-group">
                                        <label for="url">
                                            $i18n.getText('ci.partials.pluginconfiguration.vm.url')
                                            <span class="aui-icon icon-required"></span>
                                            <span class="content">required</span>
                                        </label>
                                        <select id="ciUrl" class="select-medium" size="1" name="ciUrl">
                                        </select>
                                        <div class="description"> $i18n.getText('ci.partials.pluginconfiguration.vm.url.description') </div>
                                    </div>
                                    <div class="field-group">
                                        <label for="user">
                                            $i18n.getText('ci.partials.pluginconfiguration.vm.user')
                                            <span class="aui-icon icon-required"></span>
                                            <span class="content">required</span>
                                        </label>
                                        <input id="ciUser" class="text long-field" type="text" name="ciUser">
                                        <div class="description"> $i18n.getText('ci.partials.pluginconfiguration.vm.user.description') </div>
                                    </div>
                                    <div class="field-group">
                                        <label for="password">
                                            $i18n.getText('ci.partials.pluginconfiguration.vm.password')
                                            <span class="aui-icon icon-required"></span>
                                            <span class="content">required</span>
                                        </label>
                                        <input id="ciPassword" class="text long-field" type="password" name="ciPassword">
                                    </div>
                                    <div class="field-group">
                                        <label for="accessKeyId">
                                            $i18n.getText('ci.partials.pluginconfiguration.vm.accesskeyid')
                                        </label>
                                        <input id="ciAccessKeyId" class="text long-field" disabled>
                                    </div>
                                    <div class="buttons-container">
                                        <button id="btnCredentialTest" class="aui-button test" disabled type="button">
                                            $i18n.getText('ci.partials.pluginconfiguration.vm.credential.button.test')
                                        </button>
                                        <button id="btnCredentialSave" class="aui-button aui-button-primary" disabled type="button">
                                            $i18n.getText('ci.partials.pluginconfiguration.vm.credential.button.save')
                                        </button>
                                        <button id="btnCredentialDelete" class="aui-button" type="button"
                                                disabled>
                                            $i18n.getText('ci.partials.pluginconfiguration.vm.credential.button.delete')
                                        </button>
                                        <button id="btnCredentialCancel" class="aui-button" type="button"
                                                disabled>
                                            $i18n.getText('ci.partials.pluginconfiguration.vm.credential.button.cancel')
                                        </button>
                                    </div>
                                </form>

                                <table class="aui" id="accessKeyTable">
                                    <thead>
                                        <tr>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Dialog footer -->
                    <footer class="aui-dialog2-footer">
                        <div class="aui-dialog2-footer-actions">
                            <button id="btnCredentialClose" class="aui-button aui-button-link">$i18n.getText('ci.partials.pluginconfiguration.vm.credential.button.close')</button>
                        </div>
                    </footer>
                </div>

                <div class="aui-tabs horizontal-tabs">
                    <ul class="tabs-menu">
                        <li class="menu-item active-tab">
                            <a href="#tabs-config-credentials">$i18n.getText('ci.partials.pluginconfiguration.vm.tab.credentials')</a>
                        </li>
                        <li class="menu-item">
                            <a href="#tabs-config-permmissions">
                                $i18n.getText('ci.partials.pluginconfiguration.vm.tab.permission') </a>
                        </li>
                    </ul>

                    <div class="tabs-pane active-pane" id="tabs-config-credentials">

                        <div class="flatpack">
                            <h2>$i18n.getText('ci.partials.pluginconfiguration.vm.panel.credentials')</h2>
                            <span>
                                $i18n.getText('ci.partials.pluginconfiguration.vm.conecction.label')
                                <span id='conectionStatus' class='aui-lozenge'>$i18n.getText('ci.partials.pluginconfiguration.vm.conecction.status.checking')</span>
                            </span>
                            <br/>
                            <br/>

                            $i18n.getText('ci.partials.pluginconfiguration.vm.credential.select'):
                            <select id="selectCredential" class="select-medium" size="1">
                            </select>
                             &nbsp;
                            <button id="btnCredential" class="aui-button">$i18n.getText('ci.partials.pluginconfiguration.vm.credential.button.dialog')</button>

                            <br/>
                            <button id="btnConfigSave" class="aui-button aui-button-primary" disabled type="button">
                                $i18n.getText('ci.partials.pluginconfiguration.vm.config.button.save')
                            </button>
                            <button id="btnConfigDelete" class="aui-button" type="button"
                                    disabled>
                                $i18n.getText('ci.partials.pluginconfiguration.vm.config.button.delete')
                            </button>
                        </div>
                    </div>

                    <div class="tabs-pane" id="tabs-config-permmissions">

                        <div class="flatpack">
                            <h2> $i18n.getText('ci.partials.pluginconfiguration.vm.panel.permission.to.dispose') </h2>
                            <br/>

                            $i18n.getText('ci.partials.pluginconfiguration.vm.group.select'):
                            <select id="selectGroup" class="select-medium" size="1">
                            </select>
                            &nbsp;

                            <button id="btnAddGroup" class="aui-button aui-button-primary">$i18n.getText('ci.partials.pluginconfiguration.vm.button.addpermision')</button>
                            <button id="btnRemoveGroup" class="aui-button">$i18n.getText('ci.partials.pluginconfiguration.vm.button.removepermision')</button>

                            <table class="aui" id="permissionTable">
                                <thead>
                                    <tr>
                                        <th id="header-select">
                                            <input id="allCheck" class="check-input" type="checkbox">
                                        </th>
                                        <th id="header-group">
                                            $i18n.getText('ci.partials.pluginconfiguration.vm.header.group')
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <div id="permissionZeroState" class="zero-state">
                                $i18n.getText('ci.partials.pluginconfiguration.vm.permission.zero.state')
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>