/* Generic css */
.high-risk{
    border-left: 5px solid #F92B0E;
}
.medium-risk{
    border-left: 5px solid #FF7F00;
}
.low-risk{
    border-left: 5px solid #f6ba3e;
}
.none-risk{
    border-left: 5px solid #535353;
}
.row_pointer{
    cursor: pointer;
}

/* Remedaition details */
.vulnerabilities-row{
	padding-left: 10px;
}
.details-loading{
	font-size: medium;
	min-height: 400px;
}
.button-align-right{
    text-align: right;
}

.table-simple {
    padding: 7px 10px;
    text-align: left;
}
.table-div {
    padding: 7px 5px 5px 7px;
}
.table-head{
    text-align: left;
    padding-top: 7px;
}

/* Remediations Syn Page */
.columnMedium{
    width:50px;
}
.select-medium{
    width:300px;
}
.select-short{
    width:200px;
}
.header-filters-class{
    width: 200px;
}
.bottom-panel{
    padding:15px;
    min-width:900px;
}
.check-input{
    margin: 0 auto;
    height: 100%
}
.remediation-row{
    padding: 5px;
    min-height: 50px;
}
.filter-row {
    cursor: pointer;
    padding: 5px;
    min-height: 20px;
}
.content-data-div{
    padding: 10px;
}
.filters-panel {
    width:300px;
}
.text-align-center{
    text-align: center;
    font-size: medium;
    padding-top: 20px;
}

.height-field-input{
    height: 2.1428571428571em;
}

.zero-state {
    border: 2px dashed #d5d6d2;
    color: #d5d6d2;
    visibility: hidden;
    padding: 15px 30px;
    margin: 3px;
    text-align: center;
}
