
<script>
	var globalIssueID = "$issue.id";
	/**
	 * On demand loading of the controller, this should be
	 * a JIRA panel.
	 */
	statusController("$issue.reporter.name");
</script>
<div id="remediationStatusPanel"></div>
<div id="remediationStatusMessage"></div>
