<html>
	<head>
	    <title>$i18n.getText('ci.partials.remediationdetails.vm.title')</title>
	    <meta name="decorator" content="atl.general">
	</head>
	<body class="page-type-admin">
		<script>
			/**
			 * This Controller is embeded as a modal, needs
			 * to be loaded explictly here to make it work.
			 * TODO: This should be load using webresources or use
			 * a very special context.
			 */
			remediationDetailsController($jiraIssueId);
		</script>

		<div class="content-container">
		    <div class="form-body" class="aui">
		    	<div id="details-content" class="assistive">
			    	<div id="actions" class="button-align-right">
			    		<button id="detailsRemediationCsvButton" class="aui-button aui-button-primary" type="button">$i18n.getText('ci.partials.remediationdetails.vm.button.print')
			    		</button>
			    		<button id="detailsRemediationCancelButton" class="aui-button" type="button">$i18n.getText('ci.partials.remediationdetails.vm.button.cancel')
			    		</button>
			    	</div>
			    	<div class="module toggle-wrap" id="detailsPanel">
			    	</div>
					<div class="aui-tabs horizontal-tabs">
						<ul class="tabs-menu">
					        <li class="menu-item active-tab">
					            <a href="#vulnerabilitiesTab">$i18n.getText('ci.partials.remediationdetails.vm.tab.vulnerabilities.title')</a>
					        </li>
					        <li class="menu-item">
					            <a href="#assetsTab">$i18n.getText('ci.partials.remediationdetails.vm.tab.assets.title')</a>
					        </li>
					        <li class="menu-item">
					            <a href="#filtersTab">$i18n.getText('ci.partials.remediationdetails.vm.tab.filters.title')</a>
					        </li>
					    </ul>
					    <div class="tabs-pane active-pane" id="vulnerabilitiesTab">
					        <table class="aui" id="vulnerabilitiesTable">
	                        	<thead><tr></tr></thead>
	                        	<tbody></tbody>
	                    	</table>
					    </div>
					    <div class="tabs-pane" id="assetsTab">
					    	<div class="aui-group">
						    	<div class="aui-item">
							        <table class="aui" id="assetsTable">
			                        	<thead><tr></tr></thead>
			                        	<tbody></tbody>
			                    	</table>
		                    	</div>
		                    	<div class="aui-item">
			                    	<table id="assetsTableDetails">
			                    		<thead>
			                    			<tr>
			                    				<th class="table-head">$i18n.getText('ci.partials.remediationdetails.vm.assetdetails.property')</th>
                                				<th class="table-head">$i18n.getText('ci.partials.remediationdetails.vm.assetdetails.value')</th>
                            				</tr>
			                    		</thead>
			                        	<tbody>
											<tr class="table-simple">
			                    				<td>
			                    					$i18n.getText('ci.partials.remediationdetails.vm.assetdetails.zero')
			                    				</td>
                            				</tr>
			                        	</tbody>
			                    	</table>
		                    	</div>
		                    </div>
					    </div>
					    <div class="tabs-pane" id="filtersTab">
					        <table class="aui" id="filtersTable">
	                        	<thead><tr></tr></thead>
	                        	<tbody></tbody>
	                    	</table>
					    </div>
					</div>
				</div>
				<div id="details-loading" class="details-loading">
	    			<p>$i18n.getText('ci.partials.remediationdetails.vm.loading.text')</p>
				</div>
			    <div id="details-error" class="assistive">
			    </div>
			</div>
		</div>
	</body>
</html>