{namespace JIRA.Templates.ProjectTemplates.CI}

/**
 * Render the information page for My Project Template.
 */
{template .renderCustomProjectTemplateExplanation}
	<div height="200px">
    	<p>{getText('ci.atlassianplugin.project.template.info.page.description')}</p>
    </div>
{/template}